<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="Bookmark" href="/static/logo.png" /> 
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" /> 
<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/bl.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/axios.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">培训机构黑名单</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="nav-list" class="active"><a href="/list/">名单</a></li>
            <li id="nav-submit"><a href="/submit/">提交公司</a></li>
            <li id="nav-contact"><a href="/contact/">联系我们</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div style="margin-bottom:100px;"></div>
<div class="full">
{% block content %}
{% endblock %}
</div>
	
</body>
<footer>
  
<p class="center">
<a href="http://yitu.yt" target="view_window"><img src="/static/logo.png" width="24" height="24"></a>
<a href="http://www.miitbeian.gov.cn" target="view_window"><img src="/static/gov.jpg" width="24" height="24">粤ICP备16025825号</a>
</p>

<p class="hide"><script src="https://s22.cnzz.com/z_stat.php?id=1262843688&web_id=1262843688" language="JavaScript"></script></p>
</footer>
{% block extra %}
{% endblock %}
{% csrf_token %}
</html>