{% extends "base.html" %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1 jumbotron">
<h2 class="col-sm-offset-5">联系方式</h3>

<div class="row">
<div class="col-sm-3 col-sm-offset-2">
	<h2>QQ</h2>
	<p>342785019</p>
</div>
<div class="col-sm-3 col-sm-offset-3">
	<h2>邮箱</h2>
	<p>admin@yitu.yt</p>
</div>
</div>

</div>
{% endblock %}

{% block extra %}
<script>
  var l=document.getElementById("nav-list");
  var c=document.getElementById("nav-contact");
  l.setAttribute("class","");
  c.setAttribute("class","active");
</script>
{% endblock %}