{% extends "base.html" %}

{% block content %}
<div class="contain">
        
      <div class="starter-template" style="text-align: center;">
          <h1>培训机构黑名单</h1>
          <p class="lead">这里记录了那些伪装成公司招聘实际上是培训机构的公司.</p>
          <p class="lead">如果你在应聘时也遇到培训机构,你可以点击上面的'提交公司'来提交.</p>
      </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>公司名</th>
      <th>备注</th>
      <th>状态</th>
    </tr>
  </thead>
  <tbody>
    <tr class="warning">
      <td>深圳aa公司</td>
      <td>在xx日被xx提交为培训机构，管理员正在确认是否培训机构</td>
      <td>待确认</td></tr>
    <tr class="warning">
      <td>深圳bb公司</td>
      <td>在xx日被xx提交为培训机构，管理员正在确认是否培训机构</td>
      <td>待确认</td></tr>
    <tr class="danger">
      <td>深圳xx公司</td>
      <td>在xx日被xx提交为培训机构，管理员已确认是培训机构</td>
      <td>已确认</td></tr>
  </tbody>
</table>
{% endblock %}